
<!DOCTYPE html>

<html lang='ja'>
    <head>
        <title>create</title>
    </head>
    <body>
        <div class='create container'>
            <div class='japanese input-wrapper'>
                <div class='description'>
                    日本語(覚える単語に対応する訳を<< >>で囲む)
                </div>
                <div class='input'>
                    <input>
                </div>
            </div>
            <div class='english input-wrapper'>
                <div class='description'>
                    英語(覚える単語を<< >>で囲む)
                </div>
                <div class='input'>
                    <input>
                </div>
            </div>
            <div class='group input-wrapper'>
                <div class='description'>
                    グループ(グループ毎に覚えることができます)
                </div>
                <div class='input'>
                    <input>
                </div>
            </div>
        </div>
    </body>
</html>