
<!DOCTYPE html>

<html lang='ja'>
    <head>
        <title>question</title>
    </head>
    <body>
        <div class='question container'>
            <div 'sentence'>
                <div class='original'>
                    <div class='description'></div>
                    <div class='content'>
                        <with-highlight color='#288' text='彼女は<<疲れている>>'></with-highlight>
                    </div>
                </div>                
                <div class='holed'>
                    <div class='description'></div>
                    <div class='content'>
                        <with-highlight color='red' text='She is <<tired>>.'></with-highlight>
                    </div>
                </div>
            </div>
            <div class='button-wrapper'>
                <button class='show-answer'>Show Answer</button>
            </div>
        </div>

        <script type='text/javascript' src='custom.js'></script>
    </body>
</html>